/* The hero image */
@font-face{
  font-family:montserrat;
  src:url(../fonts/Montserrat-Thin.otf);
}

@font-face{
  font-family:montserratLight;
  src:url(../fonts/Montserrat-Light.otf);
}
body, html {
    height: 100%;
    margin: 0;
}
h1, h2, h3, h4, p{
  font-family: montserratLight;
  margin-top: 0px;
}
#heading{
  text-align:center;
  margin-top:10%;
  color: white;
  font-weight:bold;
}
#typewriter{
  margin-top:20px;
  height:45px;
  display: block;
}
.line-1{

    position: relative;
    height:100%;
    width: 16em;
    padding-top: 5px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    transform: translateY(-40%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  animation-iteration-count: infinite;
}


.navbar{
 background-color: #252934; 
 border: none;
 margin-bottom:0px;
}

#about{
    width:100%;
    padding-top:20px;
    margin-top: 0px;

    background-color: #EEE;
    
}
#about p {
    margin:5%;
    text-align: justify;
    display: inline-block;
    background-color: #EEE;
}
#about h2{  
    margin: 0px;
}
#aboutText{
  text-align: center;
}


.modal-title{
      font-family: montserrat;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 16em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.right-arrow, .left-arrow{
  cursor:pointer;
  transition: all .2s ease-in-out;
}
.right-arrow:hover, .left-arrow:hover{
  transform: scale(1.1);
}

.fa{
  padding: 10px;
  color: gray;
}
.devImages  img{
  width:100px;
}
.dev{
   opacity: 0;
  float:left;
}
.fa:hover{
  color: white;
  text-decoration: none;
}

.modal-dialog{
  position: absolute;
  z-index: 1000 !important;
}
input[type=text]{
  width:50%;
  height:100px;
  margin: 0 auto;
  display: block;
  text-align: justify;
}
input[type=email]{
  width:50%;
  margin: 0 auto;
  display: block;
}
button[type=submit]{
  padding: 10px 20px;
    font-size: 20px;
  margin: 0 auto;
  display: block;
  background: none;
   border-radius: 30px;
  color: white; 
}
#formMessage input{
      background-color:rgba(0,0,0,0) !important;
}


.btn{
  transition: all .2s ease-in-out;
}
.btn.outline {
  background: none;
  padding: 12px 22px;
}
.boxImage{
  z-index: 1 !important;
  background-color: #656869;
  position: relative;
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
  background-image: 220%;
 background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.boxImage:hover{
   transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
}
#carText{
  z-index: 1000 !important;
  position: absolute;
  word-wrap: break-word;
  display: none;
  left:0;
  right:0;
  bottom: 50%;
}
#projButton{
  z-index: 1000 !important;
  position: absolute;
  text-align: center;
  bottom: 20%;
  left:28%;
  display: none;

}
.btn-primary.outline {
  border-radius: 30px;
  border: 2px solid #353130;
  color: #353130;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active{
  color: #96938C;
  border: 0 none;
  background-color :  #353130;
  transform: scale(1.1); 
}
.bg{
    width:100%;
      padding-bottom:20px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    /* The image used */
    background-image: url("software.jpg");
    opacity: 1;
    
    /* Full height */
    height: 100%; 
     
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.devtext{
  padding:5px;
  color: black;
  font-family: montserratLight;
  font-size:20px;
}
.inactive{
  display: none;
}
.skillheading{
  text-align: center;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
  color:black;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next{
  color:black;
}
.carousel{
  background-color:#bec4c2;
}



@media (min-width: 601px) {
  .bg {
    background-image: url("software.jpg");
  }
}
#about p{
  font-size: 20px;
}

@media (max-width: 600px) {
  .bg {      
     background-image:none;
     background-color: #2B353A;

  }
  .vizskill{
    height:30px;
  }
  #projButton{
    left:15% !important;
    display: block !important;
  }
  #carText{
    display: block !important;
  }

  h2{
    font-size: 1.5em;
  }
  .devImages img{
    width:50px;
  }
  
}
.bg img{
  height:40%;
  display: block; 
  margin:0 auto;

}
.skillType{
  margin-left:20px;
  height:300px;
  background-color: black;
}
.vizskill{
  height:35px;
 
  width: 100%;
  background-color: #FFF;
  margin-bottom: 30px;
}
.name{
  height:100%;
  color:white;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  background-color: #63798e;
  width:20%;
  float:left;
}
.node, .react, .meteor, .java, .devops{
  height:100%;
  background-color: #303942;
  width:0%;

}
.PS{
  height:100%;
  background-color: #303942;
  width:80%;

}
.ILL{
  height:100%;
  background-color: #303942;
  width:50%;

}
.AE{
  height:100%;
  background-color: #303942;
  width:50%;

}
.DR{
  height:100%;
  background-color: #303942;
  width:70%;

}
.bg .btn-primary {
  
  border-radius: 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 70%;
  color:white;
  border-color: white;

}

.btn-default{
  color:white;
  border-radius:30px;
  font-weight: bold;
  font-size: 
}
.btn-default:hover{
  background-color: white;
  color:none;
  transform: scale(1.1);
}
.bg .responsive-width{
  font-size: 1.5vw;
}

.bg .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active{
  color: none;
  border: 0 none;
  background-color : white;
  transform: scale(1.1); 
}
#carrot{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 90%;

  font-size: 15px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252A30;
}
.information{
  overflow:hidden;
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  padding:10px;
}
.sociallinks, .copyright{
  color:#DBDBDB;
  font-family: montserrat;
  font-size:15px;
  margin:0 auto;
  display:block;
  margin-bottom: 20px;
}
.sociallinks a{
  margin-left: 5px;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  

  #closer{
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  }
  #closer:hover{
     -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  #work{
    width:100%;

    background-color: #303942;
  }
  #workwith{
    padding-top:5px;
    text-align: center;
  }

  #contact{
    width:100%;
    padding-top:15px;
    margin-top: 0px;
    background-color: #dbdbdb;

  }
  #message{
    width:100%;
    padding-bottom:20px;
    display: flex;
  flex-direction: column;
  justify-content: center;
    background-color: #96938C;

  }
 #message button{
  margin:0 auto;
  display:block;
  margin-bottom: 20px;
 }

 #message span{
  padding: 10px;
 }

 #message a{
  margin: 0 auto;
  display: block;
  font-weight: bold;
  font-size: 15px;
 }
  .row2{
  background-color: #353130;
}
 

   @keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}

  #carrot:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #353130;
  border-radius: 0;
  box-shadow: none;
}
.modal-header {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #353130;
  border: 0;
}
.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}
.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  background: #353130;
  overflow: auto;

}
/*-------------------------------_BLOG POSTS ---------------------------------------------------*/

@charset "UTF-8";
#blogs{
  background-color:#717a7f;
  width:100%;
}
.blog-post{
  opacity:1;
  box-shadow: 0 1px 2px #334;
  margin-bottom:10px;
  -webkit-transition:0.5s;
  transition:0.5s;
}
.blog .blog-post {
  margin-bottom: 40px;

}

.blog-post:hover{
  opacity: 1;
}

/*
#blogContent > div:hover{
  opacity:1;
}*/

.blog .blog-post header {
  position: relative;
}
.blog .blog-post header .date {
  background-color: #fdfdfd;
  position: absolute;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  z-index: 9;
  color: #2c2c2c;
}
.blog .blog-post .blog-content {
  padding: 15px 28px;
  border: 1px solid #f5f5f5;
}
.blog .blog-post .blog-content h4 {
  margin: 20px 0;
  letter-spacing: 1px;
}
.blog .blog-post .blog-content h4 a {
  color: #333;
}
.blog .blog-post .blog-content .post-meta {
  text-transform: uppercase;
  margin-bottom: 18px;
  padding-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid #F5F5F5;
}
.blog .blog-post .blog-content .post-meta span {
  color: #CCC;
}
.blog .blog-post .blog-content .post-meta span:first-child a {
  color: #848484;
}
.blog .blog-post .blog-content .post-meta span a {
  color: #CCC;
  border-bottom: 1px rgba(0, 0, 0, 0);
}
.blog .blog-post .blog-content .post-meta span a:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-color: inherit;
}
.blog .blog-post .blog-content .post-meta span {
  padding-right: 10px;
  border-right: 1px solid #CCC;
  margin-right: 10px;
}
.blog .blog-post .blog-content .post-meta span:last-child {
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
}
.blog .blog-post .blog-content p {
  color: #67666a;
  line-height: 22px;
}
.blog .blog-post footer {
  border: 1px solid #DDD;
  padding: 0px 15px;
}
.blog .blog-post footer .comment-count {
  color: #000;
  position: relative;
  padding-left: 25px;
}
.blog .blog-post footer .comment-count:hover,
.blog .blog-post footer .comment-count:focus {
  color: #000;
}
.blog .blog-post footer .read-more {
  color: #000;
  position: relative;
  padding-left: 25px;
  padding-right: 0;
  text-transform: uppercase;
}
.blog .blog-post footer .read-more:hover,
.blog .blog-post footer .read-more:focus {
  color: #000;
}

@media (min-width: 768px) {
  .blog .blog-post header .image-slider-carousel .carousel-control.left {
    top: 200px;
    bottom: 5px;
    left: 220px;
  }
  .blog .blog-post header .image-slider-carousel .carousel-control.right {
    top: 200px;
  }
}
@media (min-width: 992px) {
  .blog .blog-post header .image-slider-carousel .carousel-control.left {
    top: 210px;
    bottom: 5px;
    left: 235px;
  }
  .blog .blog-post header .image-slider-carousel .carousel-control.right {
    top: 210px;
    right: 10px;
    bottom: 5px;
  }
}
.blog-standard .blog-post {
  margin-bottom: 80px;
}
.blog-standard .blog-post:last-child {
  margin-bottom: 0;
}
.blog-standard .blog-post .featured-image {
  margin-bottom: 30px;
}
.blog-standard .blog-post .post-title {
  margin-bottom: 15px;
}
.blog-standard .blog-post .post-title > a {
  color: #5c5c5c;
}
.blog-standard .blog-post .post-title > a:hover {
  color: #000000;
  text-decoration: none;
}
.blog-standard .blog-post .post-meta {
  color: silver;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 30px;
}
.blog-standard .blog-post .post-meta a {
  color: #656565;
}
.blog-standard .blog-post .post-meta span {
  margin: 0 6px;
}
.blog-standard .blog-post .read-more {
  margin-top: 25px;
}
.blog-standard .blog-post .read-more a {
  text-transform: uppercase;
  color: black;
  transition: all 0.2s;
}
.blog-standard .blog-post .read-more a:hover {
  color: silver;
  text-decoration: none;
}

/*overriding bootstrap's default pagination */
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pagination > li {
  display: inline-block;
  margin-right: 8px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: black;
  border-color: black;
}

.pagination > li > a, .pagination > li > span {
  color: #909090;
}

.sidebar {
  padding: 0 0 0 30px;
}
.sidebar .widget {
  margin-bottom: 60px;
}
.sidebar .widget.popular-posts .widget-content ul {
  padding: 15px 0 0 0;
  list-style: none;
  color: #b0b0b0;
}
.sidebar .widget.popular-posts .widget-content ul li {
  margin-bottom: 30px;
}
.sidebar .widget.popular-posts .widget-content ul .thumb {
  margin-right: 10px;
  margin-top: -10px;
}
.sidebar .widget.popular-posts .widget-content ul .title {
  color: gray;
}
.sidebar .widget.popular-tags a {
  margin-bottom: 6px;
}
.sidebar .widget.categories ul {
  list-style: none;
  padding: 0;
}
.sidebar .widget.categories ul li {
  line-height: 3em;
}
.sidebar .widget.categories ul li:before {
  content: "ÔÑÅ";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 15px;
}
.sidebar .widget.categories ul li a {
  color: black;
}
.sidebar .widget.categories ul li a:hover {
  color: gray;
}

.left-sidebar .sidebar {
  padding: 0 30px 0 0;
}

.blog-grid .blog-element {
  max-height: 290px;
  overflow: hidden;
}
.blog-grid .blog-element img {
  width: 100%;
}


