/* The hero image */
@font-face{
  font-family:montserrat;
  src:url(../fonts/Montserrat-Thin.otf);
}

@font-face{
  font-family:montserratLight;
  src:url(../fonts/Montserrat-Light.otf);
}
body, html {
    height: 100%;
    margin: 0;



}
h1, h2, h3, h4, p{
  font-family: montserratLight;
  margin-top: 0px;
}
#typewriter{
  margin-top:20px;
  height:45px;
  display: block;
}

.modal-title{
      font-family: montserrat;
}
.line-1{

    position: relative;
    height:100%;
    width: 16em;
    padding-top: 5px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    transform: translateY(-40%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  animation-iteration-count: infinite;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 16em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.right-arrow, .left-arrow{
  cursor:pointer;
  transition: all .2s ease-in-out;
}
.right-arrow:hover, .left-arrow:hover{
  transform: scale(1.1);
}

.fa{
  padding: 10px;
  color: gray;
}
.devImages  img{
  width:100px;
}
.devImages{

  margin: 0 auto;
  display: table;
  margin-top:50px;
}
.dev{
   opacity: 0;
  float:left;
}
.fa:hover{
  color: white;
  text-decoration: none;
}
.navbar{
 background-color: #252934; 
 border: none;
 margin-bottom:0px;
}
.modal-dialog{
  position: absolute;
  z-index: 1000 !important;
}
input[type=text]{
  width:50%;
  height:100px;
  margin: 0 auto;
  display: block;
  text-align: justify;
}
input[type=email]{
  width:50%;
  margin: 0 auto;
  display: block;
}
button[type=submit]{
  padding: 10px 20px;
    font-size: 20px;
  margin: 0 auto;
  display: block;
  background: none;
   border-radius: 30px;
  color: white; 
}
#formMessage input{
      background-color:rgba(0,0,0,0) !important;
}


.btn{
  transition: all .2s ease-in-out;
}
.btn.outline {
  background: none;
  padding: 12px 22px;
}
.boxImage{
  z-index: 1 !important;
  background-color: #656869;
  position: relative;
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
  background-image: 220%;
 background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.boxImage:hover{
   transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
}
#carText{
  z-index: 1000 !important;
  position: absolute;
  word-wrap: break-word;
  display: none;
  left:0;
  right:0;
  bottom: 50%;
}
#projButton{
  z-index: 1000 !important;
  position: absolute;
  text-align: center;
  bottom: 20%;
  left:28%;
  display: none;

}
.btn-primary.outline {
  border-radius: 30px;
  border: 2px solid #353130;
  color: #353130;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active{
  color: #96938C;
  border: 0 none;
  background-color :  #353130;
  transform: scale(1.1); 
}
.bg{
    width:100%;
      padding-bottom:20px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    /* The image used */
    background-image: url("software.jpg");
    opacity: 1;
    
    /* Full height */
    height: 100%; 
     
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.devtext{
  padding:5px;
  color: black;
  font-family: montserratLight;
}
.slide:nth-child(2){
  display: none;
}


@media (min-width: 601px) {
  .bg {
    background-image: url("software.jpg");
  }
  #contact{
    height:70% !important;
  }
}
#about p{
  font-size: 20px;
}

@media (max-width: 600px) {
  .bg {      
     background-image:none;
     background-color: #2B353A;

  }
  .vizskill{
    height:30px;
  }
  #projButton{
    left:15% !important;
  }

  h2{
    font-size: 1.5em;
  }
  .devImages img{
    width:50px;
  }
  
}
.bg img{
  height:25%;
  display: block; 
  margin:0 auto;

}
.skillType{
  margin-left:20px;
  height:300px;
  background-color: black;
}
.vizskill{
  height:35px;
 
  width: 100%;
  background-color: #FFF;
  margin-bottom: 30px;
}
.name{
  height:100%;
  color:white;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  background-color: #63798e;
  width:20%;
  float:left;
}
.node, .react, .meteor, .java, .devops{
  height:100%;
  background-color: #303942;
  width:0%;

}
.bg .btn-primary {
  
  border-radius: 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 70%;
  color:white;
  border-color: white;

}

.btn-default{
  color:white;
  border-radius:30px;
  font-weight: bold;
  font-size: 
}
.btn-default:hover{
  background-color: white;
  color:none;
  transform: scale(1.1);
}
.bg .responsive-width{
  font-size: 1.5vw;
}

.bg .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active{
  color: none;
  border: 0 none;
  background-color : white;
  transform: scale(1.1); 
}
#carrot{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 90%;

  font-size: 15px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252A30;
}
.slide{
  position: absolute;
  left: 0%;
  right: 0%;
}
.information{
  overflow:hidden;
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  padding:10px;
}
.sociallinks, .copyright{
  color:#DBDBDB;
  font-family: montserrat;
  font-size:15px;
  margin:0 auto;
  display:block;
  margin-bottom: 20px;
}
.sociallinks a{
  margin-left: 5px;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  
  #about{
  	width:100%;
  	padding-top:20px;
    margin-top: 0px;

  	background-color: #EEE;
    
  }
  #about p {
    margin:5%;
    text-align: justify;
    display: inline-block;
    background-color: #EEE;
  }
  #about h2{  
    margin: 0px;
  }
  #closer{
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  }
  #closer:hover{
     -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  #work{
    width:100%;

    background-color: #303942;
  }
  #workwith{
    padding-top:5px;
    text-align: center;
  }

  #contact{
    width:100%;
    height:90%;
    padding:15px;
    background-color: #dbdbdb;

  }
  #message{
    width:100%;
    padding-bottom:20px;
    display: flex;
  flex-direction: column;
  justify-content: center;
    background-color: #96938C;

  }
 #message button{
  margin:0 auto;
  display:block;
  margin-bottom: 20px;
 }

 #message span{
  padding: 10px;
 }

 #message a{
  margin: 0 auto;
  display: block;
  font-weight: bold;
  font-size: 15px;
 }
  .row2{
  background-color: #353130;
}
 

   @keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}

  #carrot:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #353130;
  border-radius: 0;
  box-shadow: none;
}
.modal-header {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #353130;
  border: 0;
}
.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}
.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  background: #353130;
  overflow: auto;

}


